*{
  
}
.navbar {
  background-color: #0F5401; /* Green background color */
  font-family: 'Montserrat';
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff !important; /* White text color */
}

.navbar-brand {
  font-weight: bold;
}

.navbar-toggler {
  border-color: #ffffff;
}

.navbar-toggler-icon {
  background-color: #ffffff;  
}

.navbar-nav .nav-link {
  margin-right: 10px;
}

.navbar-nav .nav-link:hover {
  color: #1abc9c !important; /* Hover text color */
}

.custom-button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.custom-button:hover {
  background-color: #45a049;
}



.container {
  max-width: 810px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 15%;
  position: relative;
  border-radius: 10px;
}

header {
  text-align: left;
  font-family: 'Montserrat';
  font-size: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  font-family: 'Poppins';
}

th {
  background-color: #333333;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

form {
  text-align: center;
  margin-top: 20px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}
.view, .reservation, .home{
  height: 25px;
}

.reserve-button {
  margin-right: 10px;
}