
.navbar {
      background-color: #0F5401; /* Green background color */
      font-family: 'Montserrat';
    }

    .navbar-brand,
    .navbar-nav .nav-link {
      color: #ffffff !important; /* White text color */
    }

    .navbar-brand {
      font-weight: bold;
    }

    .navbar-toggler {
      border-color: #ffffff;
    }

    .navbar-toggler-icon {
      background-color: #ffffff;
    }

    .navbar-nav .nav-link {
      margin-right: 10px;
    }

    .navbar-nav .nav-link:hover {
      color: #1abc9c !important; /* Hover text color */
    }
